{% extends "header.html" %}
{% block content %}

<h1 class="page-title">お問い合わせ</h1>

<form method="POST" onsubmit="return confirmSubmit()">

  <label>お名前</label><br>
  <input type="text" name="ctc_nm" required><br><br>

  <label>フリガナ</label><br>
  <input type="text" name="ctc_nm_kn" required><br><br>

  <label>メールアドレス</label><br>
  <input type="email" name="ctc_ml" required><br><br>

  <label>電話番号</label><br>
  <input type="text" name="ctc_hn" required><br><br>

  <label>お問い合わせ内容</label><br>
  <textarea name="ctc_dtl" maxlength="1000" required></textarea><br><br>
  <small>※1000文字以内で入力してください。</small>
  <button type="submit">送信</button>

</form>

<script>
function confirmSubmit() {
  return confirm("この内容で送信しますか？");
}
</script>

{% endblock %}