{% extends "header.html" %}
{% block content %}

<h1 class="page-title">パスワードリセット</h1>

<form method="POST" onsubmit="return confirm('この内容で変更しますか？')">

  <label>新しいパスワード</label><br>
  <input type="password" name="new_password" required><br><br>

  <label>新しいパスワード（確認）</label><br>
  <input type="password" name="confirm_password" required><br><br>

  <button type="submit">変更</button>

</form>

{% endblock %}{% block content %}

<h1>パスワードリセット申請</h1>

<form method="POST">
  <label>メールアドレス</label><br>
  <input type="text" name="usr_id" required><br><br>

  <button type="submit">送信</button>
</form>

{% endblock %}