{% extends "header.html" %}
{% block content %}

<div class="top-container">

  <!-- タイトル -->
  <h1 class="site-title">AzuLab</h1>
  <p class="site-subtitle">あなたの理想を形にします</p>

  <!-- 下コンテンツ -->
  <div class="top-content">

    <!-- 最新作品 -->
    <div class="section">
      <h2>最新の作品</h2>

      {% for work in works %}
        <div class="card">
          <a href="/works/{{ work.wrk_id }}">
            <img src="{{ url_for('static', filename=work.wrk_img_pt) }}" class="thumb">
            <p>{{ work.wrk_nm }}</p>
          </a>
        </div>
      {% endfor %}
    </div>

    <!-- 最新記事 -->
    <div class="section">
      <h2>最新の記事</h2>

      {% for article in articles %}
        <div class="card">
          <a href="/articles/{{ article.blg_id }}">
            <img src="{{ url_for('static', filename=article.blg_img_pt) }}" class="thumb">
            <p>{{ article.blg_nm }}</p>
          </a>
        </div>
      {% endfor %}
    </div>

  </div>

</div>

{% endblock %}